.input {
  outline: none;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 3px #9b9b9b;
  padding: 10px 10px 10px 35px;
  width: 400px;
}

.inputBox {
  display: flex;
  align-items: center;
  position: relative;
}

.inputIcon {
  position: absolute;
  left: 10px;
}

.input:focus {
  outline: #ffca38 1px solid;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.label {
  margin: 5px 0;
}