.user {
  display: flex;
  align-items: center;
  margin: 30px 30px;
  padding: 10px;
  width: 100%;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.userIcon {
  margin-right: 10px;
}